apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: flowlet-backend-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: backend
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: flowlet-frontend-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: frontend
