apiVersion: v1
kind: Service
metadata:
  name: flowlet-frontend-service
  labels:
    app: flowlet
    tier: frontend
spec:
  selector:
    app: flowlet
    tier: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer
