apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flowlet.fullname" . }}-web-frontend
  labels:
    {{- include "flowlet.labels" . | nindent 4 }}
    app.kubernetes.io/component: web-frontend
spec:
  {{- if not (index .Values "web-frontend" "autoscaling" "enabled") }}
  replicas: {{ index .Values "web-frontend" "replicaCount" }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "flowlet.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: web-frontend
  template:
    metadata:
      labels:
        {{- include "flowlet.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: web-frontend
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "flowlet.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: web-frontend
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ index .Values "web-frontend" "image" "repository" }}:{{ index .Values "web-frontend" "image" "tag" | default .Chart.AppVersion }}"
          imagePullPolicy: {{ index .Values "web-frontend" "image" "pullPolicy" }}
          ports:
            - name: http
              containerPort: {{ index .Values "web-frontend" "service" "targetPort" }}
              protocol: TCP
          livenessProbe:
            {{- toYaml (index .Values "web-frontend" "livenessProbe") | nindent 12 }}
          readinessProbe:
            {{- toYaml (index .Values "web-frontend" "readinessProbe") | nindent 12 }}
          resources:
            {{- toYaml (index .Values "web-frontend" "resources") | nindent 12 }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: var-cache
              mountPath: /var/cache
      volumes:
        - name: tmp
          emptyDir: {}
        - name: var-cache
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
